# IDE files
.vscode
.DS_Store
.idea

# Dependencies
vendor

# Test
*.out

# Misc
build/
tmp/

# Secret
.env
data_map.json
calendar_map.json
credentials.json
token.json
google_secret.json
google_token.json

# Build file
bet-intania-backend